html
	head
		title Bar
		script(type='text/javascript', src='/javascripts/d3.v3.min.js', charset='utf-8')
	body
		script(type='text/javascript', src="/javascripts/multiBarGraph.js")
		script.
			multiBarGraph.draw(!{JSON.stringify(data.actualdata)}, !{JSON.stringify(data.metadata)})