html
	head
		title pie chart
		script(type='text/javascript', src='http://d3js.org/d3.v3.min.js', charset='utf-8')
	body
		script(type='text/javascript', src="/javascripts/pieChart.js")
		script.
			pieChart.draw(!{JSON.stringify(data.actualdata)}, !{JSON.stringify(data.metadata)})