h1{
	background-color: #eee;
	font-style: bold;
	height: 100px;
	padding-top: 30px;
}
#pieChart {
	display: none;
}
#barGraph {
	display: none;
}
#content{
	width:300px;
	background-color: #eee;
}

#outerTakeInput {
	visibility: hidden;
}

.more {
    height: 300px;
	width: 560px;
	margin: 80px;
	float: left;
};

.abc {
	width: 200px;
	height: 1400px;
}

#wrap {
	padding-top: 20px;
	width: 300px;
	height: 1000px;
	margin: 10px;
}
.well {
	width: 50%;
    margin: 0 auto;
}
#list {
	width: screen.width;
	height: 700px;
	margin: 20px;
	float: left;
	font-size: 20px;	
}

.login{
	padding: 20px;
	margin-left: 80px;
	background-color: #eee;
	width: 560px;
	height: 300px;
	float: left;
}
.inputBoxName{
	padding-left: 210px;
	font-size: 1.5em;
}
.submit{
	padding: 20px;
	margin-left: 200px;
}
.inputList{
	font-size: 1.5em;
	margin-left: 150px;
}